# ==========================================
# Variáveis de Ambiente - Cavion Tech
# ==========================================

# Configurações do Banco de Dados (MySQL)
MYSQL_ROOT_PASSWORD=senha_root_super_segura
MYSQL_DATABASE=caviontech_wp
MYSQL_USER=caviontech_user
MYSQL_PASSWORD=senha_user_super_segura

# Configurações do WordPress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=caviontech_user
WORDPRESS_DB_PASSWORD=senha_user_super_segura
WORDPRESS_DB_NAME=caviontech_wp
